.product-card {
  width: 25%;
  float: left;

  &__image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 3rem auto 1rem auto;
  }

  &__name {
    font-weight: bolder;
  }

  &__price {
    &:after {
      content: '€';
    }
  }

  &__user {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__single {
    border: solid 0.1rem tomato;
    background: transparent;
    color: tomato;
    padding: 0.4rem 2.4rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    text-decoration: none;
    display: inline-block;
  }
}
